<h1>{{title}}</h1>

<h4></h4>
<h3>Installation</h3>
<h4></h4>
<p>
To begin, I followed this tutorial to set up Angular so I could use it while in VScode:
<a href="https://angular.io/guide/setup-local">Click here</a>
<br><br>
1. I opened a terminal in VScode and ran the following commands:
</p>
  <p style="margin-left: 20px; font-weight: bold;">Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned
  <br>npm install -g "&#64;"angular/cli
  </p>
<p>
2. I entered the command into the terminal to start a new workspace:
</p>
  <p style="margin-left: 20px; font-weight: bold;">ng new my-app</p>
<p>
3. I moved on to the next tutorial on how to edit the new web page I had created: 
<a href="https://angular.io/tutorial/tour-of-heroes/toh-pt0">Click here</a> <br><br>
4. I opened the new workspace folder I had created in step 2 to start editing the HTML
and CSS files.<br><br>
5. To run the website locally and see the changes in real time, I ran the following command in the VSCode terminal:
</p>
<p style="margin-left: 20px; font-weight: bold;">ng serve --open</p>

<h4></h4>
<h3>Final Thoughts</h3>
<h4></h4>
<p>
  Choosing to use angular was a really easy transition because it 
  required knowledge about HTML and CSS. Although it required Typescript,
  this was not too much of an impediment as I used the Angular website's tutorial
  which provided skeleton code to help me create a simple web page. I also like
  any changes I make updates live rather than having to load the page every time I
  save my file.
  <br>
  <br>
  For the most part, I did not experience any difficulties as the Angular website
  had very thorough tutorials.
  <br>
  <br>
  I've heard of plenty people using Angular for web development but never got around to
  trying it. However, after this lab I can definitely see myself using it again in the near
  future.
</p>
